@media screen and (max-width: 480px){
    header{
        width: 100vw;
        height: 15vh;
    }
    .header{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
    main{
        width: 100vw;
        height: 35vh;
    }
    .section{
        height: 35vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lightgreen{
        height: 15vh;
        width: 20vw;
    }
    .green{
        height: 15vh;
        width: 20vw;
    }
    .darkgreen{
        height: 15vh;
        width: 20vw;
    }
    footer{
        width: 100vw;
        height: 15vh;
    }

}